<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hcmus.tranngocyennhi.angrybird">

    <application
        android:allowBackup="true"
        android:icon="@drawable/chim1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Màn hình thứ 2 nè-->
        <!--Tìm theme có chữ Dialog ở trong để kích thước nó nhỏ lại!-->
        <activity android:name=".Main2Activity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"></activity>

    </application>

</manifest>